
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

img{
    max-width: 100%;
}

ul,
li,
menu{
    list-style: none;
}

/**********
DEBUG RULES
**********/



/* 
FOOTER RULES
*/

footer .col{
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
}

.row{
    display: flex;
    justify-content: space-between;
    background-color: #464646;
}

.icon-text{
    display: block;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon{
    text-align: center;
}

.m-right20{
    margin-right: 20px;
}

.fa-angle-up{
    font-size: 12px;
}

.icon-items{
    font-size: 26px;
    margin-bottom: 5px;
}

.fa-solid.fa-share-from-square.icon-items{
    color: rgb(20, 196, 20);
}

footer .col.col-last{
    color: red;
    background-color: #999999;
}

footer span{
    font-size: 14px;
}